;composer.phar
;/vendor/
/.vscode/
/desktop-tutorial/
;/docker/
;/node_modules/
;/nodejs/
/tmp/
.env
.env.example
.xdebug.ini.swo
.xdebug.ini.swp
;composer.lock
;docker-compose
xdebug
;docker-compose.yml
xdebug.ini

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
mlgeleongit.zip
